/*  your css code here. If applicable */
.box{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px solid black;
	position:relative;
	top:195px;
	left:235px;
}
.box h2{
	color:purple ;
	position:absolute;
	top:65px;
	left:35px;
}